mixin picture-adaptive(path, image, format, width, height, altText)
    picture(class!=attributes.class)
      source(
        type='image/webp',
        media="(max-width: 767px)",
        srcset=
        "img/" + path + "/" + image + "_mobile.webp" + ", " +
        "img/" + path + "/" + image + "_mobile@2x.webp" + " 2x"
      )
      source(
        media="(max-width: 767px)",
        srcset=
        "img/" + path + "/" + image + "_mobile." + format + ", " +
        "img/" + path + "/" + image + "_mobile@2x." + format + " 2x"
      )
      source(
        type='image/webp',
        media="(max-width: 1200px)",
        srcset=
        "img/" + path + "/" + image + "_tablet.webp" + ", " +
        "img/" + path + "/" + image + "_tablet@2x.webp" + " 2x"
      )
      source(
        media="(max-width: 1200px)",
        srcset=
        "img/" + path + "/" + image + "_tablet." + format + ", " +
        "img/" + path + "/" + image + "_tablet@2x." + format + " 2x"
      )
      source(
        type='image/webp',
        srcset=
        "img/" + path + "/" + image + "_desktop.webp" + ", " +
        "img/" + path + "/" + image + "_desktop@2x.webp" + " 2x"
      )
      img(
        src="img/" + path + "/" + image + "_desktop." + format,
        srcset= "img/" + path + "/" + image + "_desktop@2x." + format + " 2x",
        width= width, height= height,
        alt= altText,
        loading="lazy"
      )
